[user]
	email = glukki.spb.ru@gmail.com
	name = Vitalii (glukki) Meshchaninov
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rebase]
	autosquash = false
[commit]
[includeif "gitdir:/Volumes/projects/"]
	path = /Volumes/projects/.gitconfig
[init]
	defaultBranch = main
